@CHARSET "UTF-8";

.lawMain tr, .lawMain th, .lawMain td{
	 text-align: center;
}

.date, .writer, .career, .company
{
	width: 10%;
	text-align: center;
}

.number, .count
{
	width: 5%;
	text-align: center;
}

.subject
{
	width:50%;
	text-align: center;
	text-decoration: blink;
}

.content
{
	text-align: left;	
}