@CHARSET "UTF-8";

.noticeMain tr, .noticeMain th, .noticeMain td{
	 text-align: center;
}

.number, .date, .count
{
	width: 10%;
	text-align: center;
}

.subject
{
	width:70%;
	text-align: center;
}

.content
{
	text-align: left;	
}