@CHARSET "UTF-8";

.noticeMain tr, .noticeMain th, .noticeMain td{
	 text-align: center;
}

.number, .date, .count, .writer
{
	width: 10%;
	text-align: center;
}

.subject
{
	width:60%;
	text-align: center;
}

.content
{
	text-align: left;	
}